* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 1s;
}

a {
  text-decoration: none;
  color: #000 !important;
}

.container {
  padding: 10px 5px 5px 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
}

.element__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__left-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-title {
  margin-right: 5px;
  width: 2em;
  height: 2em;
}

h1 .logo__title {
  font-weight: normal;
  font-size: 1.3em;
}

.logo__right-item {
  padding: 10px;
  width: 35em;
  display: flex;
  justify-content: space-between;
}

.navigation__element {
  font-size: 1.4em;
}

.fotorama {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotorama__text {
  display: block;
  z-index: 100;
}

.fotorama img {
  width: 100%;
  height: 100%;
}

.three-el {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.three-el__block {
  display: flex;
  width: calc(100% / 3 - (14px * 2) / 3);
  justify-content: center;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.slider {
  margin: 20px auto;
  max-width: 700px;
}

.image-block {
  width: auto;
  height: 100%;
  position: relative;
}

.image-block__text {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: white;
  z-index: 10;
}

.image-block__text span {
  font-size: 1.1rem;
}

b {
  color: black;
}

.image-block__img {
  padding: 5px;
  width: 100%;
  height: auto;
}

.news__block {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  margin-bottom: 15px;
  border-radius: 8px;
}

.content-news {
  background-color: #fff;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.content-title a {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 10px;
}

.content-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.title__news-text {
  margin: 0 0 0 10px;
  font-size: 19px;
}

.content__photo {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.photo__content {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.photo__title {
  font-size: 20px;
  text-align: justify;
  line-height: 120%;
  padding: 0 15px;
  color: #000;
  margin: 7px 0 15px;
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.photo__text-low {
  display: block;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 120%;
  padding: 0 15px;
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
}

.photo__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content-news__time {
  display: flex;
  justify-content: flex-end;
  color: #c1c1c1;
  margin-top: 10px;
}

.content-news__date {
  display: inline-block;
  margin-right: 7px;
  font-size: 10px;
  line-height: 14px;
  width: 15%;
}

.content-news__date-right {
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
}

.photo__text-768 {
  display: none;
}

.fotorama__captio {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fotorama__captio img {
  width: 35em;
  height: auto;
}

.fotorama__captio__wrap {
  margin-top: 260px;
  padding: 5px;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  color: white;
}

.footer {
  padding: 5px;
  display: none;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.footer__three {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-el a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-el a:hover {
  opacity: 0.5;
}

.footer-img {
  width: 3.2vh;
  height: 3.2vh;
}

.blog-slider__container {
  width: 90%;
  position: relative;
  margin: auto;
  height: 300px;
}

.blog-slider__container .blogSlides img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.blog-slider__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.blog-slider__numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.blogSlider__dots {
  text-align: center;
}

.blogSlider__dots--dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.blogSlider__dots--dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

iframe {
  height: 467px;
}

.iframe-container-div {
  background-color: #fff;
  z-index: 300;
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  min-height: 1px;
  position: absolute;
  top: 0;
}

.sl__slide {
  position: relative;
}

.sl__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.sl__zag {
  margin: 0;
  padding: 0;
}

.sl__img {
  width: 100%;
  height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.99;
  /*background:rgba(255,255,255,0.8); or just this*/
  z-index: 50;
  color: #fff;
}

@media (max-width: 800px) {
  .footer {
    display: block;
  }

  iframe {
    width: 100vw;
    height: 64.25vw;
    /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh;
    /* 16/9 = 1.778 */
  }
}

@media (max-width: 769px) {
  .navigation__element:nth-child(1) {
    display: none;
  }

  .three-el {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .three-el__block {
    width: 100%;
  }

  .news__block {
    flex-wrap: wrap;
    display: block;
  }
}

@media (max-width: 425px) {
  .photo__text-768 {
    margin-right: 260px;
    display: block;
    color: #4a4a4a;
    font-size: 18px;
    line-height: 120%;
    padding: 0 15px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}