* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/MacBook-Air.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    width: 100vh;
}
